<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>com.apple.ScriptEditor.id.Install-Disable-Gatekeeper</string>
	<key>CFBundleName</key>
	<string>Install Disable-Gatekeeper</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2024 chris1111 , All Rights Reserved</string>
	<key>OSAScriptingDefinition</key>
	<string>AppleScript Language</string>
	<key>WindowState</key>
	<dict>
		<key>bundleDividerCollapsed</key>
		<false/>
		<key>bundlePositionOfDivider</key>
		<real>675</real>
		<key>dividerCollapsed</key>
		<false/>
		<key>eventLogLevel</key>
		<integer>2</integer>
		<key>name</key>
		<string>ScriptWindowState</string>
		<key>positionOfDivider</key>
		<real>331</real>
		<key>savedFrame</key>
		<string>453 274 974 678 0 0 1920 1055 </string>
		<key>selectedTab</key>
		<string>log</string>
	</dict>
</dict>
</plist>
